ipykernel
ipython
ipywidgets
jupyter
jupyter-console
jupyter-events
jupyterlab-pygments
jupyterlab-widgets
matplotlib
matplotlib-inline
MDAnalysis
membrane-curvature~=1.0.0
nbclassic
nbclient
nbconvert
nbformat
nglview
numpy
pandas
pickleshare
Pillow
plotly
scikit-learn
scipy
seaborn
statsmodels
urllib3